---
name: signin
url: /signin
animationIn: slideInLeft
animationOut: slideOutRight
---

<div class="primary title-bar">
  <span class="center title"><a ui-sref="signin">
    Sign in
  </a></span>

  <span class="left"><a back>
    <img zf-iconic="" icon="chevron" data-direction="left" size="small">
    Back
  </a></span>

  <span class="right"><a ui-sref="firstTodo.signup">
    Done
    <img zf-iconic="" icon="circle-check" size="small">
  </a></span>
</div>

<div class="grid-container">
  <div class="grid-content">
    <form>
      <input type="email" name="email" required placeholder="E-mail"/>
      <input type="password" name="password" required placeholder="Password" />
    </form>
  </div>
</div>
